<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- ECharts library -->
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js "></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">       
      <img src="https://pm.bsc.es/ftp/dlb/doc/user-guide/_static/dlb_logo_white.png"  height="30" alt="">
        TALP Benchmark Results
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header Section -->
  <header class="bg-secondary text-white py-2">
    <div class="container text-center">
      <h1>Continous performance analysis results</h1>
      <p class="lead">for GENEX on RAVEN</p>
    </div>
  </header>


  <main class="py-5 pl-5 pr-5">
    <div class="row">
      <div class="col-md-3">
        <h2>Select Regions</h2>
        <div id="selectedRegions">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="regionInput" placeholder="Search region...">
        </div>
        <div id="regionSuggestions"></div>
      </div>
      <div class="col-md-3">
        <h2>Elapsed Time</h2>
        <div id="elapsed_time" style="height: 600px;"></div>
      </div>
      <div class="col-md-3">
        <h2>Parallel Efficiency</h2>
        <div id="parallel_effiency" style="height: 600px;"></div>
      </div>
      <div class="col-md-3">
        <h2>Average IPC</h2>
        <div id="avg_ipc" style="height: 600px;"></div>
      </div>
    </div>
     
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <p>&copy; 2024 BSC (BEPPP). All rights reserved.</p>
    </div>
  </footer>

  <!-- Bootstrap JS (Optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- ECharts Initialization -->
  <script>
    // Initialize ECharts instance


    // Predefined list of regions
    var regions = {{ region_names | safe }}
    var metadata = {{ metadata | safe }}

    // Selected regions array
    var selectedRegions = ['{{ default_region_name }}'];

    // Autocomplete functionality
    var regionInput = document.getElementById('regionInput');
    var regionSuggestions = document.getElementById('regionSuggestions');
    var selectedRegionsContainer = document.getElementById('selectedRegions');

    regionInput.addEventListener('input', function() {
      var input = this.value.toLowerCase();
      var suggestions = regions.filter(function(region) {
        return region.toLowerCase().startsWith(input);
      });

      // Clear previous suggestions
      regionSuggestions.innerHTML = '';

      // Display suggestions
      suggestions.forEach(function(suggestion) {
        var suggestionElement = document.createElement('div');
        suggestionElement.classList.add('suggestion');
        suggestionElement.textContent = suggestion;
        suggestionElement.addEventListener('click', function() {
          addRegion(suggestion);
        });

        // Add feedback if region is already selected
        if (selectedRegions.includes(suggestion)) {
          suggestionElement.classList.add('text-muted');
          suggestionElement.title = 'Region already selected';
        }

        regionSuggestions.appendChild(suggestionElement);
      });
    });

    regionInput.addEventListener('click', function() {
      // Display all regions when the search bar is clicked
      regionSuggestions.innerHTML = '';
      regions.forEach(function(region) {
        var suggestionElement = document.createElement('div');
        suggestionElement.classList.add('suggestion');
        suggestionElement.textContent = region;
        suggestionElement.addEventListener('click', function() {
          addRegion(region);
        });

        // Add feedback if region is already selected
        if (selectedRegions.includes(region)) {
          suggestionElement.classList.add('text-muted');
          suggestionElement.title = 'Region already selected';
        }

        regionSuggestions.appendChild(suggestionElement);
      });
    });

    function addRegion(region) {
      if (!selectedRegions.includes(region)) {
        selectedRegions.push(region);
        renderSelectedRegions();
        regionInput.value = '';
        regionSuggestions.innerHTML = '';
      }
      updateFigures();
    }

    function removeRegion(index) {
      selectedRegions.splice(index, 1);
      renderSelectedRegions();
      updateFigures();
    }

    function renderSelectedRegions() {
      selectedRegionsContainer.innerHTML = '';
      selectedRegions.forEach(function(region, index) {
        var regionElement = document.createElement('span');
        regionElement.textContent = region;
        regionElement.classList.add('badge', 'badge-secondary', 'mr-2', 'mb-2');
        var removeButton = document.createElement('button');
        removeButton.innerHTML = '&times;';
        removeButton.classList.add('btn', 'btn-sm', 'btn-danger', 'ml-1');
        removeButton.addEventListener('click', function() {
          removeRegion(index);
        });
        regionElement.appendChild(removeButton);
        selectedRegionsContainer.appendChild(regionElement);
      });
    }

    function updateSeries(data) {
      var updatedSeries = [];
      selectedRegions.forEach(region => {
          var dataEntry = data.find(entry => entry.name === region);
          if (dataEntry) {
              updatedSeries.push(dataEntry);
          }
      });
      return updatedSeries;
    }
    
    var callback_tooltips = (args) => {
      var data = "peter"
      let value = args[0].axisValue
      return value
    }

       // Specify chart configuration
    pe_options = {
      tooltip: {
        trigger: 'axis',
        //formatter: callback_tooltips,
      },
      legend: {
      },
      grid: {
        top: '20%',
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: {{ timestamps | safe }}
      },
      yAxis: {
        type: 'value'
      },
      series: []
    };

    ipc_options = {
      tooltip: {
        trigger: 'axis',
        //formatter: callback_tooltips,
      },
      legend: {
      },
      grid: {
        top: '20%',
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: {{ timestamps | safe }}
      },
      yAxis: {
        type: 'value'
      },
      series: []
    };
    
      et_options = {
      tooltip: {
        trigger: 'axis',
        //formatter: callback_tooltips,
      },
      legend: {
      },
      grid: {
        top: '20%',
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: {{ timestamps | safe }}
      },
      yAxis: {
        type: 'value'
      },
      series: []
    };
    
    

  

    var pe_data = {{ pe_series | safe }}
    var et_data = {{ et_series | safe }}
    var ipc_data = {{ ipc_series | safe }}
    var pe_chart = echarts.init(document.getElementById('parallel_effiency'));
    var et_chart = echarts.init(document.getElementById('elapsed_time'));
    var ipc_chart = echarts.init(document.getElementById('avg_ipc'));
    
    
    function updateFigures(){
      var new_pe_series = updateSeries(pe_data);
      pe_options.series = new_pe_series;
      pe_chart.setOption(pe_options,true);

      var new_et_series = updateSeries(et_data);
      et_options.series = new_et_series;
      et_chart.setOption(et_options,true);

      var new_ipc_series = updateSeries(ipc_data);
      ipc_options.series = new_ipc_series;
      ipc_chart.setOption(ipc_options,true);
    }

     window.onload = function(event) {

      updateFigures();
      renderSelectedRegions();
    
    }; 

 



  </script>
</body>
</html>
