<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLB-TALP Performance Report</title>

    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">

    <!-- Include DataTables JS -->
     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
 
		
    <script>
    document.addEventListener("DOMContentLoaded", function() {
    let table = new DataTable('#talpTable', {
            info: false,
            order: [[1, 'desc']],
            paging: false,
            "rowCallback": function( row, data, dataIndex){
                if( data[3] < 0.6 || data[2] < 1){
                    $(row).css({"background-color":"#FE9F9A"})
                }
                else if( data[3] < 0.8 || data[2] < 2){
                    $(row).css({"background-color":"#FDCA8C"})
                }
                else {
                    $(row).css({"background-color":"#C9FF81"})
                }
            }
            }
        );
    });
    </script>

      <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background-color: #3e4349;
            color: white;
            text-align: center;
            padding: 1em;
        }

        h1 {
            text-align: center;
            color: #3e4349;
        }
        p {
            padding: 1em;
        }

        footer {
            background-color: #3e4349;
            color: white;
            text-align: center;
            padding: 1em;
            margin-top: 2em;
        }
    </style>
</head>
<body>
    <header>
        <img style="max-width: 200px; height: auto;" src="https://pm.bsc.es/ftp/dlb/doc/user-guide/_static/dlb_logo_white.png" alt="DLB Logo">
    </header>
    
    <h1>Performance Report</h1>
    <table id="talpTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Elapsed Time [s]</th>
                <th>Average IPC</th>
                <th>Parallel Efficiency</th>
                <th>Communication Efficiency</th>
                <th>Load Balance</th>
                <th>LB In</th>
                <th>LB Out</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in regions %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.elapsedTime / 1e9}}</td>
                    <td>{{ entry.averageIPC }}</td>
                    <td>{{ entry.parallelEfficiency }}</td>
                    <td>{{ entry.communicationEfficiency }}</td>
                    <td>{{ entry.loadBalance }}</td>
                    <td>{{ entry.lbIn }}</td>
                    <td>{{ entry.lbOut }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Metrics overview</h1>
    For up to date overview of the computed metrics you can consult the <a href="https://pm.bsc.es/ftp/dlb/doc/user-guide/how_to_run_talp.html#pop-metrics-overview"> DLB User Guide </a>
    The coloring above follows the following rules:
    <table>
    <thead>
        <tr>
            <th>Average IPC</th>
            <th>Parallel Efficiency</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color:#FE9F9A">
            <td> < 1 </td>
            <td> < 0.6 </td>
        </tr>
        <tr style="background-color:#FDCA8C">
            <td> > 1   <br> < 2</td>
            <td> > 0.6 <br> < 0.8 </td>
        </tr>
        <tr style="background-color:#C9FF81">
            <td> > 2</td>
            <td> > 0.8 </td>
        </tr>
    </tbody>
    </table>
    <footer>
        ©2023-2024, Barcelona Supercomputing Center
    </footer>   
</body>
</html>